backup*/
temp*/
lib/

binaries/**

#Netbeans temp files
build/netbeans*/*/build/
build/netbeans*/*/nbproject/private/
build/netbeans*/*/nbproject/Package-*.bash
build/netbeans*/*/nbproject/Makefile-*.mk
build/netbeans*/*/.dep.inc

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.idb
*.log
*.scc
